@use '../base/variables' as v;
@use '../base/mixins' as m;

.nosotros{
    margin-top: v.$top;
    @include m.tablet {
        
        &__grid{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            gap: 2rem;
            align-items: center;
        } 
        
    }

    &__imagen{
        margin-top: 3rem;
        @include m.tablet { 
            margin-top:0;
         }
    }

}